@using System.Collections.Generic
@using System.Linq

@{
    var menu = new List<dynamic>
{
new {
    NombreMenu = "Financiero",
    Icono = "fas fa-money-check-alt",
    oSubMenu = new List<dynamic>
    {
        new { NombreSubMenu = "Aprobar Pago de Emisión", Controlador = "Financiero", Vista = "Financiero" },
        new { NombreSubMenu = "Aprobar Pago de Viáticos", Controlador = "Financiero", Vista = "Viaticos" },
    }
},
new {
    NombreMenu = "Operador",
    Icono = "fas fa-user-check",
    oSubMenu = new List<dynamic>
    {
        new { NombreSubMenu = "Solicitud", Controlador = "Operador", Vista = "Index" },
    }
},
new {
    NombreMenu = "Inspector",
    Icono = "fas fa-user-cog",
    oSubMenu = new List<dynamic>
    {
        new { NombreSubMenu = "Revisar Documentación", Controlador = "Inspector", Vista = "RevisarDocumentacion" },
        new { NombreSubMenu = "Inspección", Controlador = "Inspector", Vista = "Inspeccion" }
    }
},
new {
    NombreMenu = "Dirección de Certificación",
    Icono = "fas fa-file-signature",
    oSubMenu = new List<dynamic>
    {
        new { NombreSubMenu = "Asignar Inspector", Controlador = "Certificacion", Vista = "AsignarInspector" },
        new { NombreSubMenu = "Documentación Final", Controlador = "Inspector", Vista = "Inspeccion" }
    }
}
};
}

<ul class="nav nav-pills nav-sidebar flex-column text-sm" data-widget="treeview" role="menu" data-accordion="false">
    <li class="nav-item">
        <a class="nav-link" href="@Url.Action("Index", "Home")">
            <i class="nav-icon fas fa-home text-white"></i>
            <p class="text-white">Inicio</p>
        </a>
    </li>

    @foreach (var menuList in menu)
    {
        <li class="nav-item has-treeview">
            <a href="#" class="nav-link text-white">
                <i class="nav-icon @menuList.Icono text-light"></i>
                <p>
                    @menuList.NombreMenu
                    <i class="right fas fa-angle-left"></i>
                </p>
            </a>

            <ul class="nav nav-treeview">
                @foreach (var subMenuList in menuList.oSubMenu)
                {
                    <li class="nav-item">
                        <a href="@Url.Action(subMenuList.Vista, subMenuList.Controlador)" class="nav-link text-white-50">
                            <i class="far fa-dot-circle nav-icon text-info"></i>
                            <p>@subMenuList.NombreSubMenu</p>
                        </a>
                    </li>
                }
            </ul>
        </li>
    }
</ul>
